

/* BARRA DE NAVEGACION */


.navbar{
    background-color: #000;
    padding: 0px;
}

.navbar .navbar-nav .nav-link:hover{
    background-color: #DC7633;
	text-decoration: none;
	border-radius: 5px;
}

ul{
width: 50%;
justify-content: center;
color: #fff;
}

span{
    background-color: #000;
    color: #DC7633;
}

/* Buscador */

.boton{
    background-color: #000;
    color: #DC7633;
    border-color: #DC7633;
}

.boton:hover{
    background-color: #DC7633;
    border-color: #DC7633;
    color: #fff;
}

form:focus-within{
    box-shadow: #DC7633;
}


/* PRESENTACIÓN */

.presentacion{
background: url(./Recursos/IMG/img-sobremi/CristianGarmendia.jpg) no-repeat;
background-size: cover;
height: 100%;
min-height: 700px;
color: #fff;
}

.texto-presentacion{
    padding-top:300px;
    color: #000;
}